.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    table-layout: fixed;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
}
